body {
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
  height: 100vh;
}

button {
  margin-right: 10px;
  color: yellow;
}

#border {
  margin-top: 20px;
}

#buttonsDiv {
  margin: 0 auto;
  left: 500px;
}
