

<div style="width: 30%; margin-top: 20px">

  <mat-label>Amount</mat-label>
  <input matInput placeholder="1" value="1" [(ngModel)]="amount">

<hr>
  <mat-label style="margin-bottom: 10px">Pick base currency</mat-label>
  <mat-select [(ngModel)]="selectedBase" placeholder="PLN">
    <mat-option *ngFor="let currency of availableCurrencies$ | async" [value]="currency" >
      {{currency}}
    </mat-option>
  </mat-select>
  <br>

  <hr>


  <mat-label style="margin-bottom: 10px">Pick desired currency</mat-label>
  <mat-select [(ngModel)]="selectedDesired" placeholder="EUR">
    <mat-option *ngFor="let currency of availableCurrencies$ | async" [value]="currency" >
      {{currency}}
    </mat-option>
  </mat-select>
</div>

<button mat-raised-button color="accent" (click)="convert(amount, selectedBase, selectedDesired)" class="btn btn-success" style="margin-top: 30px">convert values</button>


<h2 style="margin-top: 40px">Result:</h2>
<h3>{{this.convertedValue$ | async}}</h3>
